@forward "element-plus/theme-chalk/src/common/var.scss" with (
  $colors: (
    "primary": (
      // "base": #1baeae,
    ),
  ),
);.page-box[data-v-55fd3c5b]{text-align:right;margin:20px}.el-table[data-v-55fd3c5b]{overflow-y:auto!important;overflow-x:auto!important}.el-input-group[data-v-55fd3c5b]{width:300px;margin-right:20px}.list-model[data-v-55fd3c5b]{margin-top:20px}