@forward "element-plus/theme-chalk/src/common/var.scss" with (
  $colors: (
    "primary": (
      // "base": #1baeae,
    ),
  ),
);.page-box[data-v-c9f6d66a]{text-align:right;margin:20px}.el-table[data-v-c9f6d66a]{overflow-y:auto!important;overflow-x:auto!important}.el-input-group[data-v-c9f6d66a]{width:300px;margin-right:20px}.list-model[data-v-c9f6d66a]{margin-top:20px}