.el-select{width:100%}.demo-ruleForm{padding:0 80px 50px 80px}@forward "element-plus/theme-chalk/src/common/var.scss" with (
  $colors: (
    "primary": (
      // "base": #1baeae,
    ),
  ),
);.page-box[data-v-af524a0e]{text-align:right;margin:20px}.el-table[data-v-af524a0e]{overflow-y:auto!important;overflow-x:auto!important}.el-input-group[data-v-af524a0e]{width:300px;margin-right:20px}.list-model[data-v-af524a0e]{margin-top:20px}