
.self-layout-search {
  background-color: #fff;
  padding: 15px 15px;
  .el-form-item {
    margin: 0
  }
}

.self-layout-table{
  position: relative;
  background-color: #fff;
  margin-top: 15px;
  padding: 15px 15px;
  height: calc(100% - 115px);
}