<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.api_project.mapper.OutputWarehouseMapper">

    <resultMap type="com.example.api_project.pojo.OutputWarehouse" id="OutputWarehouseMap">
        <result property="outputWarehouseKey" column="output_warehouse_key" jdbcType="VARCHAR"/>
        <result property="shopCode" column="shop_code" jdbcType="VARCHAR"/>
        <result property="shopName" column="shop_name" jdbcType="VARCHAR"/>
        <result property="goodsCode" column="goods_code" jdbcType="VARCHAR"/>
        <result property="goodsName" column="goods_name" jdbcType="VARCHAR"/>
        <result property="customerCode" column="customer_code" jdbcType="VARCHAR"/>
        <result property="customerName" column="customer_name" jdbcType="VARCHAR"/>
        <result property="outputShopCode" column="output_shop_code" jdbcType="VARCHAR"/>
        <result property="outputShopName" column="output_shop_name" jdbcType="VARCHAR"/>
        <result property="outputPlan" column="output_plan" jdbcType="INTEGER"/>
        <result property="outputPrice" column="output_price" jdbcType="INTEGER"/>
        <result property="outputActual" column="output_actual" jdbcType="INTEGER"/>
        <result property="inventoryCode" column="inventory_code" jdbcType="VARCHAR"/>
        <result property="positionCode" column="position_code" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="VARCHAR"/>
        <result property="deadlineTime" column="deadline_time" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="type" column="type" jdbcType="INTEGER"/>
        <result property="returnNum" column="return_num" jdbcType="INTEGER"/>
        <result property="isDeleted" column="is_deleted" jdbcType="INTEGER"/>
        <result property="shopPeopleCode" column="shop_people_code" jdbcType="VARCHAR"/>
        <result property="inventoryPeopleCode" column="inventory_people_code" jdbcType="VARCHAR"/>
        <result property="returnReason" column="return_reason" jdbcType="VARCHAR"/>
        <result property="vehicleCode" column="vehicle_code" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="OutputWarehouseMap">
        select
          output_warehouse_key, shop_code, shop_name, goods_code, goods_name, customer_code, customer_name,output_shop_code,output_shop_name, output_plan, output_price, output_actual, inventory_code, position_code, create_time, deadline_time, status, type, shop_people_code, inventory_people_code, return_reason,vehicle_code,is_deleted,return_num
        from output_warehouse
        where output_warehouse_key = #{outputWarehouseKey}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="OutputWarehouseMap">
        select
          output_warehouse_key, shop_code, shop_name, goods_code, goods_name, customer_code, customer_name,output_shop_code,output_shop_name,  output_plan, output_price, output_actual, inventory_code, position_code, create_time, deadline_time, status, type, shop_people_code, inventory_people_code, return_reason,vehicle_code,is_deleted,return_num
        from output_warehouse
        <where>
            <if test="shopCode != null and shopCode != ''">
                and shop_code = #{shopCode}
            </if>
            <if test="goodsCode != null and goodsCode != ''">
                and goods_code = #{goodsCode}
            </if>
            <if test="customerCode != null and customerCode != ''">
                and customer_code = #{customerCode}
            </if>
            <if test="inventoryCode != null and inventoryCode != ''">
                and inventory_code = #{inventoryCode}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="type != null">
                and type = #{type}
            </if>
            <if test="isDeleted != null">
                and is_deleted = #{isDeleted}
            </if>
        </where>
        order by create_time
        limit #{startRows,jdbcType=INTEGER}, #{pageSize,jdbcType=INTEGER}
    </select>

    <!--统计总行数-->
    <select id="count" resultType="java.lang.Long">
        select count(1)
        from output_warehouse
        <where>
            <if test="shopCode != null and shopCode != ''">
                and shop_code = #{shopCode}
            </if>
            <if test="goodsCode != null and goodsCode != ''">
                and goods_code = #{goodsCode}
            </if>
            <if test="customerCode != null and customerCode != ''">
                and customer_code = #{customerCode}
            </if>
            <if test="inventoryCode != null and inventoryCode != ''">
                and inventory_code = #{inventoryCode}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="type != null">
                and type = #{type}
            </if>
            <if test="isDeleted != null">
                and is_deleted = #{isDeleted}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="outputWarehouseKey" useGeneratedKeys="true">
        insert into output_warehouse(output_warehouse_key,shop_code, shop_name, goods_code, goods_name, customer_code, customer_name,output_shop_code,output_shop_name,  output_plan, output_price, output_actual, inventory_code, position_code, create_time, deadline_time, status, type, shop_people_code, inventory_people_code, return_reason,vehicle_code,is_deleted,return_num)
        values (#{outputWarehouseKey},#{shopCode}, #{shopName}, #{goodsCode}, #{goodsName}, #{customerCode}, #{customerName},#{outputShopCode},#{outputShopName}, #{outputPlan}, #{outputPrice}, #{outputActual}, #{inventoryCode}, #{positionCode}, #{createTime}, #{deadlineTime}, #{status}, #{type}, #{shopPeopleCode}, #{inventoryPeopleCode}, #{returnReason},#{vehicleCode},#{isDeleted},#{returnNum})
    </insert>

    <insert id="insertBatch" keyProperty="outputWarehouseKey" useGeneratedKeys="true">
        insert into output_warehouse(shop_code, shop_name, goods_code, goods_name, customer_code, customer_name,output_shop_code,output_shop_name,  output_plan, output_price, output_actual, inventory_code, position_code, create_time, deadline_time, status, type, shop_people_code, inventory_people_code, return_reason,vehicle_code,is_deleted,return_num)
        values
        <foreach collection="entities" item="entity" separator=",">
        (#{entity.shopCode}, #{entity.shopName}, #{entity.goodsCode}, #{entity.goodsName}, #{entity.customerCode}, #{entity.customerName},#{entity.outputShopCode},#{entity.outputShopName}, #{entity.outputPlan}, #{entity.outputPrice}, #{entity.outputActual}, #{entity.inventoryCode}, #{entity.positionCode}, #{entity.createTime}, #{entity.deadlineTime}, #{entity.status}, #{entity.type}, #{entity.shopPeopleCode}, #{entity.inventoryPeopleCode}, #{entity.returnReason},#{entity.vehicleCode},#{entity.isDeleted},#{entity.returnNum})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="outputWarehouseKey" useGeneratedKeys="true">
        insert into output_warehouse(shop_code, shop_name, goods_code, goods_name, customer_code, customer_name,output_shop_code,output_shop_name,  output_plan, output_price, output_actual, inventory_code, position_code, create_time, deadline_time, status, type, shop_people_code, inventory_people_code, return_reason,vehicle_code,is_deleted,return_num)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.shopCode}, #{entity.shopName}, #{entity.goodsCode}, #{entity.goodsName}, #{entity.customerCode}, #{entity.customerName}, #{entity.outputShopCode},#{entity.outputShopName}, #{entity.outputPlan}, #{entity.outputPrice}, #{entity.outputActual}, #{entity.inventoryCode}, #{entity.positionCode}, #{entity.createTime}, #{entity.deadlineTime}, #{entity.status}, #{entity.type}, #{entity.shopPeopleCode}, #{entity.inventoryPeopleCode}, #{entity.returnReason},#{entity.vehicleCode},#{entity.isDeleted},#{entity.returnNum})
        </foreach>
        on duplicate key update
        shop_code = values(shop_code),
        shop_name = values(shop_name),
        goods_code = values(goods_code),
        goods_name = values(goods_name),
        customer_code = values(customer_code),
        customer_name = values(customer_name),
        output_shop_code = values(output_shop_code),
        output_shop_name = values(output_shop_name),
        output_plan = values(output_plan),
        output_price = values(output_price),
        output_actual = values(output_actual),
        inventory_code = values(inventory_code),
        position_code = values(position_code),
        create_time = values(create_time),
        deadline_time = values(deadline_time),
        status = values(status),
        type = values(type),
        shop_people_code = values(shop_people_code),
        inventory_people_code = values(inventory_people_code),
        return_reason = values(return_reason),
        vehicle_code = values(vehicle_code),
        is_deleted = values(is_deleted),
        return_num=values(return_num)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update output_warehouse
        <set>
            <if test="shopCode != null and shopCode != ''">
                shop_code = #{shopCode},
            </if>
            <if test="shopName != null and shopName != ''">
                shop_name = #{shopName},
            </if>
            <if test="goodsCode != null and goodsCode != ''">
                goods_code = #{goodsCode},
            </if>
            <if test="goodsName != null and goodsName != ''">
                goods_name = #{goodsName},
            </if>
            <if test="customerCode != null and customerCode != ''">
                customer_code = #{customerCode},
            </if>
            <if test="customerName != null and customerName != ''">
                customer_name = #{customerName},
            </if>
            <if test="outputPlan != null">
                output_plan = #{outputPlan},
            </if>
            <if test="outputPrice != null">
                output_price = #{outputPrice},
            </if>
            <if test="outputActual != null">
                output_actual = #{outputActual},
            </if>
            <if test="inventoryCode != null and inventoryCode != ''">
                inventory_code = #{inventoryCode},
            </if>
            <if test="positionCode != null and positionCode != ''">
                position_code = #{positionCode},
            </if>
            <if test="createTime != null and createTime != ''">
                create_time = #{createTime},
            </if>
            <if test="deadlineTime != null and deadlineTime != ''">
                deadline_time = #{deadlineTime},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="type != null">
                type = #{type},
            </if>
            <if test="shopPeopleCode != null and shopPeopleCode != ''">
                shop_people_code = #{shopPeopleCode},
            </if>
            <if test="inventoryPeopleCode != null and inventoryPeopleCode != ''">
                inventory_people_code = #{inventoryPeopleCode},
            </if>
            <if test="returnReason != null and returnReason != ''">
                return_reason = #{returnReason},
            </if>
            <if test="vehicleCode != null and vehicleCode != ''">
                vehicle_code = #{vehicleCode},
            </if>
            <if test="isDeleted != null and isDeleted != ''">
                is_deleted = #{isDeleted},
            </if>
            <if test="returnNum != null and returnNum != ''">
                return_num = #{returnNum},
            </if>
        </set>
        where output_warehouse_key = #{outputWarehouseKey}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from output_warehouse where output_warehouse_key = #{outputWarehouseKey}
    </delete>

</mapper>

