<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.api_project.mapper.SalesIntegrateMapper">

    <resultMap type="com.example.api_project.vo.SalesIntegrate" id="SalesIntegrateMap">
        <result property="shopCode" column="shop_code" jdbcType="VARCHAR"/>
        <result property="shopName" column="shop_name" jdbcType="VARCHAR"/>
        <result property="goodsCode" column="goods_code" jdbcType="VARCHAR"/>
        <result property="goodsName" column="goods_name" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="outputPlan" column="output_plan" jdbcType="INTEGER"/>
        <result property="outputPrice" column="output_price" jdbcType="FLOAT"/>
        <result property="outputActual" column="output_actual" jdbcType="INTEGER"/>
        <result property="type" column="type" jdbcType="INTEGER"/>
        <result property="returnNum" column="return_num" jdbcType="INTEGER"/>
        <result property="customerCode" column="customer_code" jdbcType="VARCHAR"/>
        <result property="customerName" column="customer_name" jdbcType="VARCHAR"/>
    </resultMap>

    <!--按照门店编码分类-->
    <select id="queryAllByShop" resultMap="SalesIntegrateMap">
        SELECT shop_code,shop_name,
        count(case when(status=4) then 1 else null end)as occupyNum,
        count(case when(status=5) then 1 else null end)as outputNum,
        count(case when(return_num) then 1 else null end)as returnCount,
        sum(case when(status=4) then output_plan else null end)as occupySum,
        sum(case when(status=5) then output_actual else null end)as outputSum,
        sum(case when(status=5) then return_num else null end)as returnSum
        from output_warehouse
        <where>
            <if test="shopCode != null and shopCode != ''">
                and shop_code = #{shopCode}
            </if>
            and is_deleted=0
            and output_shop_code=""
            and customer_code!=""
        </where>
        group by shop_code
        order by outputSum DESC
        limit #{startRows,jdbcType=INTEGER}, #{pageSize,jdbcType=INTEGER}
    </select>

    <!--统计总行数-->
    <select id="countByShop" resultType="java.lang.Integer">
        select count(*)
        from
        (
            SELECT shop_code,shop_name
            from output_warehouse
            <where>
                <if test="shopCode != null and shopCode != ''">
                    and shop_code = #{shopCode}
                </if>
                and is_deleted=0
                and output_shop_code=""
                and customer_code!=""
            </where>
            group by shop_code
        ) as A
    </select>

    <!--按照商品编码分类-->
    <select id="queryAllByGoods" resultMap="SalesIntegrateMap">
        SELECT goods_code,goods_name,output_price,
        count(case when(status=4) then 1 else null end)as occupyNum,
        count(case when(status=5) then 1 else null end)as outputNum,
        count(case when(return_num) then 1 else null end)as returnCount,
        sum(case when(status=4) then output_plan else null end)as occupySum,
        sum(case when(status=5) then output_actual else null end)as outputSum,
        sum(case when(status=5) then return_num else null end)as returnSum
        from output_warehouse
        <where>
            <if test="goodsCode != null and goodsCode != ''">
                and goods_code = #{goodsCode}
            </if>
            and is_deleted=0
            and output_shop_code=""
            and customer_code!=""
        </where>
        group by goods_code
        order by outputSum DESC
        limit #{startRows,jdbcType=INTEGER}, #{pageSize,jdbcType=INTEGER}
    </select>

    <!--统计总行数-->
    <select id="countByGoods" resultType="java.lang.Integer">
        select count(*)
        from
        (
            SELECT goods_code,goods_name,output_price
            from output_warehouse
            <where>
                <if test="goodsCode != null and goodsCode != ''">
                    and goods_code = #{goodsCode}
                </if>
                and is_deleted=0
                and output_shop_code=""
                and customer_code!=""
            </where>
            group by goods_code
        ) as A
    </select>

    <!--按照供应商编码分类-->
    <select id="queryAllByCustomer" resultMap="SalesIntegrateMap">
        SELECT customer_code,customer_name,
        count(case when(status=4) then 1 else null end)as occupyNum,
        count(case when(status=5) then 1 else null end)as outputNum,
        count(case when(return_num) then 1 else null end)as returnCount,
        sum(case when(status=4) then output_plan else null end)as occupySum,
        sum(case when(status=5) then output_actual else null end)as outputSum,
        sum(case when(status=5) then return_num else null end)as returnSum
        from output_warehouse
        <where>
            <if test="customerCode != null and customerCode != ''">
                and customer_code = #{customerCode}
            </if>
            and is_deleted=0
            and output_shop_code=""
            and customer_code!=""
        </where>
        group by customer_code
        order by outputSum DESC
        limit #{startRows,jdbcType=INTEGER}, #{pageSize,jdbcType=INTEGER}
    </select>

    <!--统计总行数-->
    <select id="countByCustomer" resultType="java.lang.Integer">
        select count(*)
        from
        (
            select customer_code,customer_name
            from output_warehouse
            <where>
                <if test="customerCode != null and customerCode != ''">
                    and customer_code = #{customerCode}
                </if>
                and is_deleted=0
                and output_shop_code=""
                and customer_code!=""
            </where>
            group by customer_code
        ) as A
    </select>

</mapper>

