<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.api_project.mapper.SupplierBillingMapper">

    <resultMap type="com.example.api_project.pojo.SupplierBilling" id="SupplierBillingMap">
        <result property="supplierBillingCode" column="supplier_billing_code" jdbcType="VARCHAR"/>
        <result property="billingKey" column="billing_key" jdbcType="VARCHAR"/>
        <result property="taxNumber" column="tax_number" jdbcType="VARCHAR"/>
        <result property="accountName" column="account_name" jdbcType="VARCHAR"/>
        <result property="accountNumber" column="account_number" jdbcType="VARCHAR"/>
        <result property="bankName" column="bank_name" jdbcType="VARCHAR"/>
        <result property="accountTel" column="account_tel" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询所有（不分页）-->
    <select id="getList" resultMap="SupplierBillingMap">
        select supplier_billing_code,
               billing_key,
               tax_number,
               account_name,
               account_number,
               bank_name,
               account_tel
        from supplier_billing
    </select>

    <!--根据supplierAddressKey查询-->
    <select id="queryBySupplierKey" resultMap="SupplierBillingMap">
        select supplier_billing_code,
               billing_key,
               tax_number,
               account_name,
               account_number,
               bank_name,
               account_tel
        from supplier_billing
        <where>
            <if test="supplierBillingCode != null and supplierBillingCode != ''">
                and supplier_billing_code = #{supplierBillingCode}
            </if>
        </where>
    </select>

    <!--查询单个-->
    <select id="queryById" resultMap="SupplierBillingMap">
        select supplier_billing_code,
               billing_key,
               tax_number,
               account_name,
               account_number,
               bank_name,
               account_tel
        from supplier_billing
        where billing_key = #{billingKey}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="SupplierBillingMap">
        select
        supplier_billing_code, billing_key, tax_number, account_name, account_number, bank_name, account_tel
        from supplier_billing
        <where>
            <if test="supplierBillingCode != null and supplierBillingCode != ''">
                and supplier_billing_code = #{supplierBillingCode}
            </if>
            <if test="accountName != null and accountName != ''">
                and account_name like concat('%', #{accountName}, '%')
            </if>
            <if test="bankName != null and bankName != ''">
                and bank_name like concat('%', #{bankName}, '%')
            </if>
        </where>
        limit #{startRows,jdbcType=INTEGER}, #{pageSize,jdbcType=INTEGER}
    </select>

    <!--统计总行数-->
    <select id="count" resultType="java.lang.Long">
        select count(1)
        from supplier_billing
        <where>
            <if test="supplierBillingCode != null and supplierBillingCode != ''">
                and supplier_billing_code = #{supplierBillingCode}
            </if>
            <if test="accountName != null and accountName != ''">
                and account_name like concat('%', #{accountName}, '%')
            </if>
            <if test="bankName != null and bankName != ''">
                and bank_name like concat('%', #{bankName}, '%')
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="billingKey" useGeneratedKeys="true">
        insert into supplier_billing(billing_key,supplier_billing_code, tax_number, account_name, account_number, bank_name,
                                     account_tel)
        values (#{billingKey},#{supplierBillingCode}, #{taxNumber}, #{accountName}, #{accountNumber}, #{bankName}, #{accountTel})
    </insert>

    <insert id="insertBatch" keyProperty="billingKey" useGeneratedKeys="true">
        insert into supplier_billing(supplier_billing_code, tax_number, account_name, account_number, bank_name,
        account_tel)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.supplierBillingCode}, #{entity.taxNumber}, #{entity.accountName}, #{entity.accountNumber},
            #{entity.bankName}, #{entity.accountTel})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="billingKey" useGeneratedKeys="true">
        insert into supplier_billing(supplier_billing_code, tax_number, account_name, account_number, bank_name,
        account_tel)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.supplierBillingCode}, #{entity.taxNumber}, #{entity.accountName}, #{entity.accountNumber},
            #{entity.bankName}, #{entity.accountTel})
        </foreach>
        on duplicate key update
        supplier_billing_code = values(supplier_billing_code),
        tax_number = values(tax_number),
        account_name = values(account_name),
        account_number = values(account_number),
        bank_name = values(bank_name),
        account_tel = values(account_tel)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update supplier_billing
        <set>
            <if test="supplierBillingCode != null and supplierBillingCode != ''">
                supplier_billing_code = #{supplierBillingCode},
            </if>
            <if test="taxNumber != null and taxNumber != ''">
                tax_number = #{taxNumber},
            </if>
            <if test="accountName != null and accountName != ''">
                account_name = #{accountName},
            </if>
            <if test="accountNumber != null and accountNumber != ''">
                account_number = #{accountNumber},
            </if>
            <if test="bankName != null and bankName != ''">
                bank_name = #{bankName},
            </if>
            <if test="accountTel != null and accountTel != ''">
                account_tel = #{accountTel},
            </if>
        </set>
        where billing_key = #{billingKey}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete
        from supplier_billing
        where billing_key = #{billingKey}
    </delete>

</mapper>

